BOT_TOKEN=8512607294:AAGSAa-YqDJT9yomNj9NXfpAyJzPYp16gSw
BOT_USERNAME=PyraLink_bot
WEBHOOK_BASE_URL=https://your-domain.example.com
WEBHOOK_PATH=/webhook
WEBHOOK_SECRET=change-this-secret

APP_HOST=0.0.0.0
APP_PORT=8080

POSTGRES_DSN=postgresql+asyncpg://postgres:postgres@db:5432/room_bot
ALEMBIC_DATABASE_URL=postgresql://postgres:postgres@db:5432/room_bot
REDIS_DSN=redis://redis:6379/0

ADMIN_ID=7110517621
ADMIN_ID_2=8647337535
MAIN_WALLET=UQAdlx8wKf2Zar2VW1BEgJcWuGdJAKcnUSDbTgN-JJ7k2ZPb
RULES_TEXT=Правила пока не заполнены.
DROP_PENDING_UPDATES=true
